body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(20,233,233,1) 0%, rgba(223,55,236,0.9346113445378151) 100%, rgba(0,212,255,1) 100%);

}
h1{ 

    

}
h2{
    font-family: 'Niconne', cursive;

}
hr{
    margin-top: 0;
    margin-bottom: 0;
}
p{

    font-size: 15px;
    font-family: 'Aclonica', sans-serif;
}
.flag{
    height: 100px;
    margin-top: 0;
}
.appl{
    background-color: transparent 50%;
    width: 100%;
    border: 5px solid rgba(78, 17, 219, 0.336);
    padding-left: 60px;
    padding-top: 20px;
    margin: 10px;

}
.inp{
    width: 40px;
}
.inp1{
    width: 80px;
}
.webname{
 margin-top: 40px;
 margin-bottom: 0;
 justify-content: baseline;
}