body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(20,233,233,1) 0%, rgba(223,55,236,0.9346113445378151) 100%, rgba(0,212,255,1) 100%);

}
h1{ font-family: 'Montagu Slab', serif;
    color:#111D5E;
    font-weight: 800;
 
}
#motto{
    font-family: 'Niconne', cursive;
    font-size: 35px;
    color: #ad1aca;
    font-weight: bolder;
}
span{
    font-size: medium;
    color: red;
    width: 80px;
    font-family: 'EB Garamond', serif;
    font-size: 18px;
}
   
h2{text-align: center;
    font-family: 'Niconne', cursive;

}
hr{
    margin-top: 0;
    margin-bottom: 0;
}
p{

    font-size: 15px;
    font-family: 'Aclonica', sans-serif;
}
.flag{
    height: 100px;
    margin-left: 50px;
}
.appl{
    background-color: transparent 50%;
    width: 100%;
    padding: 20px;
    margin-top:10px;
    background-color: rgba(135, 207, 235, 0.521);
    border-radius: 20px;

}
.inp{
    width: 40px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inp1{
    width: 80px;
}
.webname{
 margin-top: 40px;
 margin-bottom: 0;
 justify-content: baseline;
}
.feedb{
    height: 120px;
    background-color: rgba(255, 255, 255, 0.308);
    font-family: 'Abril Fatface', cursive;
    color: rgb(6, 8, 1);
    font-size: 36px;
    font-weight: 700;
    border:solid rgba(224, 55, 236, 0.336);
    text-align: center;
    padding: 10px;
    border-radius: 80px;
}
#aname{
    color:#111D5E;
    font-size:38px;
    font-weight: bolder;
}
.none{
    display: none;
}