body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(20,233,233,1) 0%, rgba(223,55,236,0.9346113445378151) 100%, rgba(0,212,255,1) 100%);

}
h1{ 

    

}
h2{
    font-family: 'Niconne', cursive;

}
p{

    font-size: 15px;
    font-family: 'Passion One', cursive;
}
.flag{
    height: 100px;
    margin-top: 0;
}